@import "~bootstrap/scss/bootstrap.scss";

.firstSquare {
    height: 6rem;
    width: 6rem;
    background-color: rgb(253, 253, 253);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    border-radius: 1rem;
    border-color: black;
    border-style: solid;
    border-width: 3px;
};

.gridSquares {
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3, 6rem);
    height: 50hv;
    gap: 0.15rem;
    place-content: center center;
}
.Title, .status {
    justify-content: center;
    display: flex;
    font-weight: bold;
    font-size: 4rem;
    color: rgb(50, 61, 55)
}
